.widget-wrapper {
	border:  2px solid black;
	border-radius: 10px 10px 10px 10px;
	height: 700px;
	margin-top: 30px;
}

.current-weather-data {
	border: 2px solid red;
	position: relative;
	height: 75%;
}

#city, #high-low {
	border: 1px solid grey;
}

#city {
	width: 25%;
}

#high-low {
	float:  left;
}

form {
	position: relative;
	left: 215px;
    bottom: 20px;
}


.forecast-data {
	border:  2px solid blue;
	position: absolute;
	bottom:  0;
	width:  100%;
	height: 25%;
}

.current-date {
	border:  2px solid green;
	position: relative;
	float:  right;
	top:  400px;
	left: 64px;
	height: 60px;
}

#refresh {
	border:  2px solid green;
	position: relative;
	float:  right;
	bottom: 50px;
	width: 64px;
	height: 64px;
}

#refresh img {
	width: 64px;
	height: 64px;
}

.weekday {
	float:  right;
	border:  1px solid pink;
	width: 20%;
	height:  100%;

}

.weekday img {
	max-width: 15%;
	max-height: 15%;
}

#current-temp, #current-conditions {
	margin:  auto;
	text-align: center;
}

#current-temp-image img {
	width: 350px;
	height: 350px;
	margin:  auto;
	display: block;
}

#current-temp-image {
	text-align: center;
	width: 350px;
	height: 350px;
	margin:  0 auto;
}


