.widget-wrapper {
	border:  2px solid black;
	border-radius: 10px 10px 10px 10px;
	height: 700px;
	margin-top: 30px;
}

.current-weather-data {
	border: 2px solid red;
	position: relative;
	height: 75%;
	background-color: #BDF7FF;
	color:  black;
	font-weight: bold;
}

#city, #high-temp, #low-temp {
	border: 1px solid grey;
}

#city {
	height: 25%;
    width: 30%;
    position: absolute;
    font-size: 45px;
  /*   padding-top: 25px; */
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

#high-temp {
	float:  left;
	position: absolute;
    top: 130px;
    width: 20%;
    height: 10%;
    text-align: center;
    font-size: 25px;
}

#low-temp {
	float:  left;
	position: absolute;
    top: 180px;
    left: 0px;
    width: 20%;
    height: 10%;
    text-align: center;
    font-size: 20px;
}

#form {
	position: relative;
	left: 185px;
    bottom: 0px;
    top: 3px;
}

input {
	max-width: 20%;
	position: relative;
	margin-left: 5px;
}

#current-conditions {
	text-transform: capitalize;
}


.forecast-data {
	border:  2px solid blue;
	position: absolute;
	bottom:  0;
	width:  100%;
	height: 25%;
	color:  black;
	font-weight: bold;
}

.current-date {
	border:  2px solid green;
	position: relative;
	float:  right;
	top:  370px;
	left: 64px;
	height: 65px;
	width: 70px;
	text-align: center;
}

#refresh {
	border:  2px solid green;
	position: relative;
	float:  right;
	bottom: 30px;
	width: 64px;
	height: 64px;
}

#refresh img {
	width: 64px;
	height: 64px;
}

.weekday {
	float:  right;
	border:  1px solid pink;
	width: 20%;
	height:  100%;
	text-align: center;
	background-image: url('../DailyBG.png');
	background-repeat: repeat;
	background-size: 20%;
}

.weekday img {
	max-width: 45%;
	max-height: 25%;
}

.daily-icon {
	padding: 10px;
}

.temperature-holder {
	position: relative;
}

#current-temp, #current-conditions {
	margin:  auto;
	text-align: center;
}

#current-temp-image img {
	width: 350px;
	height: 350px;
	margin:  auto;
	display: block;
}

#current-temp-image {
	text-align: center;
	width: 350px;
	height: 350px;
	margin:  0 auto;
}


